In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key
!jupyter nbextension enable --py --sys-prefix widgetsnbextension
!jupyter nbextension enable --py --sys-prefix gmaps

Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: ok
Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Maumere,ID,2022-01-30 04:08:43,-8.6199,122.2111,82.98,78,100,8.03
1,1,San Patricio,US,2022-01-30 04:08:43,28.0170,-97.5169,57.04,55,9,8.39
2,2,Atuona,PF,2022-01-30 04:08:44,-9.8000,-139.0333,78.08,76,23,14.14
3,3,Albany,US,2022-01-30 04:05:24,42.6001,-73.9662,6.75,55,100,8.99
4,4,Yellowknife,CA,2022-01-30 04:08:44,62.4560,-114.3525,-14.58,82,86,5.01

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximu temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp,0))

In [9]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity.
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent cloudiness.
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent wind speed.
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [17]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Maumere,ID,2022-01-30 04:08:43,-8.6199,122.2111,82.98,78,100,8.03
2,2,Atuona,PF,2022-01-30 04:08:44,-9.8000,-139.0333,78.08,76,23,14.14
9,9,Boyolangu,ID,2022-01-30 04:08:46,-8.1181,111.8935,84.79,70,89,6.08
13,13,Hobart,AU,2022-01-30 04:08:47,-42.8794,147.3294,83.01,52,0,1.01
15,15,Carnarvon,AU,2022-01-30 04:08:48,-24.8667,113.6333,84.27,70,61,17.27
18,18,Flinders,AU,2022-01-30 04:08:49,-34.5833,150.8552,84.20,74,98,7.78
19,19,Jeremie,HT,2022-01-30 04:08:49,18.6500,-74.1167,75.69,79,7,4.68
21,21,Atambua,ID,2022-01-30 04:08:50,-9.1061,124.8925,76.53,86,100,5.57
24,24,Busselton,AU,2022-01-30 04:08:51,-33.6500,115.3333,83.05,45,4,12.55
40,40,Kavaratti,IN,2022-01-30 04:04:35,10.5669,72.6420,81.37,69,90,9.15

In [18]:
preferred_cities_df.count()

City_ID       117
City          117
Country       117
Date          117
Lat           117
Lng           117
Max Temp      117
Humidity      117
Cloudiness    117
Wind Speed    117
dtype: int64

In [19]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp      Lat       Lng Hotel Name
0     Maumere      ID     82.98  -8.6199  122.2111
2      Atuona      PF     78.08  -9.8000 -139.0333
9   Boyolangu      ID     84.79  -8.1181  111.8935
13     Hobart      AU     83.01 -42.8794  147.3294
15  Carnarvon      AU     84.27 -24.8667  113.6333
18   Flinders      AU     84.20 -34.5833  150.8552
19    Jeremie      HT     75.69  18.6500  -74.1167
21    Atambua      ID     76.53  -9.1061  124.8925
24  Busselton      AU     83.05 -33.6500  115.3333
40  Kavaratti      IN     81.37  10.5669   72.6420

In [20]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [24]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping")

Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping

In [25]:
hotel_df.head()

         City Country  Max Temp      Lat       Lng                Hotel Name
0     Maumere      ID     82.98  -8.6199  122.2111              Sylvia Hotel
2      Atuona      PF     78.08  -9.8000 -139.0333               Villa Enata
9   Boyolangu      ID     84.79  -8.1181  111.8935                Yos ega cv
13     Hobart      AU     83.01 -42.8794  147.3294  Mantra on Collins Hobart
15  Carnarvon      AU     84.27 -24.8667  113.6333     Hospitality Carnarvon

In [28]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [30]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [31]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))